parameters:
    level:
        max
    paths:
        - src
    excludes_analyse:
        - src/DependencyInjection/Configuration.php
    ignoreErrors:
    	-
    		message: '#with no value type specified in iterable type array.#'
    		path: src/DependencyInjection/DobryProgramatorSmartformExtension.php
